/*Add CSS styles here*/
body{
    margin:0;
}
/* Need to specify width and height of div to have it show up in leaflet */
/* #mapid{
    height:100vh; 
    width:100vw; */
/* } */
#panel {    
    width: 16%;    
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
    /* font-size: 10px */
}
.range-slider {  
    width: 55%;  
}  

.step {  
    width: 20%;  
}  

.step img {  
    width: 100%;  
}  
#forward {
    float: right;
    font-size:5pt;
    /* font: 0px */
    /* padding: 50px; */
    }
    
#reverse {  
    float: left;
    font-size:5pt;  
}


#mapid {
    height: 1200px;
    width: 100%;
    display: inline-block;
}

.sequence-control-container {  
    width: 350px;  
    height: 30px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}  

.legend-control-container {  
    width: 210px;  
    height: 200px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}
.range-slider {  
    width: 250px;  
}  

.step {  
    width: 40px;  
}  

.step img {  
    width: 100%;  
    height: auto;  
} 

.leaflet-popup-content p {
    margin: 0.2em 0;
}